.ContactForm .Row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-block: 20px;
}

.ContactForm img {
    height: 500px;
    width: 600px;
    object-fit: contain;
}

.ContactForm form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ContactForm input {
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    border: none;
    outline: none;
}

.ContactForm textarea {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 12rem;
    resize: none;
}

.ContactForm button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: var(--main);
    color: #fff;
    cursor: pointer;
}

@media(max-width:1200px) {
    .ContactForm img {
        height: 450px;
        width: 450px;
    }

    .ContactForm input {
        width: 450px;
    }
}

@media(max-width:900px) {
    .ContactForm img {
        display: none;
    }

    .ContactForm input {
        width: 350px;
    }
}

@media(max-width:600px) {
    .ContactForm input {
        width: 100%;
    }
}