.SecondHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/assets/secondHeader.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    background-attachment: fixed;
}